In [1]:

import util as util
import pandas as pd
from dask import dataframe as dd
import yaml
from time import time

In [2]:
config_data = util.read_config('file.yaml')

In [3]:
config_data
column_names = config_data['columns']
column_names

['event_time',
 'event_type',
 'product_id',
 'category_id',
 'category_code',
 'brand',
 'price',
 'user_id',
 'user_session']

# File Reading

In [4]:
file_type = config_data['file_type']
source_file = './' + config_data['file_name'] + f'.{file_type}'

# Pandas

In [5]:
start = time()
pandas = pd.read_csv(source_file, config_data['inbound_delimiter'])
end = time()
total = end - start
print(f'Pandas processing time: {total}')

/home/hamhams/.local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

Pandas processing time: 38.83959603309631

In [6]:
print(pandas.info())
pandas.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42448764 entries, 0 to 42448763
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.8+ GB
None

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

# Modin

In [7]:


start = time()
dask = dd.read_csv(source_file, delimiter = config_data['inbound_delimiter'], names=column_names)
end = time()
total = end - start
print(f'Modin processing time: {total}')

Modin processing time: 0.008668899536132812

In [9]:
result = (util.col_header_val(pandas,config_data))

Columns names and length validattion passed!

In [11]:
util.check_results(result, pandas, '2019-Oct')
util.df_info(pandas, '2019-Oct')

Validation passed